<mat-card>
    <mat-card-header>
        <mat-card-title>{{country}}</mat-card-title>        
    </mat-card-header>    
    
    <mat-card-content>
        <ul>
            @if (cases()) {
                <li><span class="card-data-title">Population: </span><span class="card-data-value">{{cases()!.population}}</span></li>
                <li><span class="card-data-title">Confirmed: </span><span class="card-data-value">{{cases()!.confirmed}}</span></li>
                <li><span class="card-data-title">Recovered: </span><span class="card-data-value">{{cases()!.recovered ? cases()!.recovered: 'N/A'}}</span></li>
                <li><span class="card-data-title">Deaths: </span><span class="card-data-value">{{cases()!.deaths ? cases()!.deaths: 'N/A'}}</span></li>
            }
            @if (vaccination()) {
                <li><span class="card-data-title">Administered for vaccination: </span><span class="card-data-value">{{vaccination()?.administered ?? 'N/A'}}</span></li>
                <li><span class="card-data-title">Vaccinated: </span><span class="card-data-value">{{vaccination()?.people_vaccinated ?? 'N/A'}}</span></li>
                <li><span class="card-data-title">Updated: </span><span class="card-data-value">{{vaccination()!.updated | date:'mediumDate'}}</span></li>
            }
        </ul>
    </mat-card-content>
</mat-card>
